<table>
  <tr>
    <th class="name">名前</th>
    <th class="book-number">巻数</th>
    <th class="desc">備考</th>
    <th class="operation"></th>
  </tr>

<% @books.each do |book| %>
  <tr>
    <td class="name"><span title=<%= book.yomi %>><%= complete_flg book %><%= book.name %></span></td>
    <td class="book-number">1～<%= book.last %></td>
    <td class="desc"><%= book.desc %></td>
    <td class="operation"><span><%= link_to '編集', edit_book_path(book) %></span>
    	<span><%= link_to '削除', book, method: :delete, data: { confirm: 'Are you sure?' } %></span>
    </td>
  </tr>
<% end %>
</table>
<div id="lower-operation">
  <%= link_to '書籍追加', new_book_path %>
</div>
