<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @book.name %>
</p>

<p>
  <b>Yomi:</b>
  <%= @book.yomi %>
</p>

<p>
  <b>Last:</b>
  <%= @book.last %>
</p>

<p>
  <b>Desc:</b>
  <%= @book.desc %>
</p>


<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
