<p id="notice"><%= notice %></p>

<p>
  <b>名前:</b>
  <%= @book.name %>
</p>

<p>
  <b>ヨミガナ:</b>
  <%= @book.yomi %>
</p>

<p>
  <b>所持最終巻:</b>
  <%= @book.last %>
</p>

<p>
  <b>備考:</b>
  <%= @book.desc %>
</p>

<div id="lower-operation">
  <%= link_to '編集', edit_book_path(@book) %>
  <%= link_to '戻る', books_path %>
</div>
