<!DOCTYPE html>
<html>
<head>
  <title>Book of numbers Management System</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "footerFixed" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
</head>
<body>
  <div id="wrap">
	  <h1><%= @page_title %></h1>
	  <div>
	  	<% if !notice.nil? %>
	    	<div class="success"><%= notice %></div>
	    <% end %>
	    <% if !alert.nil? %>
	    	<div class="error"><%= alert %></div>
	    <% end %>
	  </div>
	  <div id="main">
		<%= yield %>
	  </div>
	  <footer id="footer">
	  	<span class="user-controll"><%= link_to t('helpers.label.user.sign_out'), destroy_user_session_path, :method => :delete %></span>
	  	<span class="user-controll"><%= link_to t('helpers.label.user.management') %></span>
	  	<span id="version"><%= Bms::Version::STRING %></span>
	  </footer>
  </div>
</body>
</html>
